//********************************************
// COLORS
//********************************************
$background-color-page: rgba(255, 255, 255, 1); 
$background-color-menu: rgba(66, 30, 6 ,1);
$color-page: rgba(0, 0, 0, 1);
$color-text-menu: rgba(213, 182, 114, 1);


//*********************************************
// FONTS
//*********************************************
$font-stack: "Philosopher-Italic";
$font-bold-italic: "Philosopher-Bold-Italic";
$font-bold: "Philosopher-Bold";
$font-regylar: "Philosopher-Regular";
 
 
//********************************************* 
// SIZES
// *********************************************
$font-size-page: 16px;
$font-size-menu: 22px;